In [3]:
import pandas as pd
website_data=pd.read_csv("D:\Data Analytics\daily-website-visitors.csv")
print(website_data)

       Row        Day  Day.Of.Week       Date Page.Loads Unique.Visits  \
0        1     Sunday            1  9/14/2014      2,146         1,582
1        2     Monday            2  9/15/2014      3,621         2,528
2        3    Tuesday            3  9/16/2014      3,698         2,630
3        4  Wednesday            4  9/17/2014      3,667         2,614
4        5   Thursday            5  9/18/2014      3,316         2,366
...    ...        ...          ...        ...        ...           ...
2162  2163   Saturday            7  8/15/2020      2,221         1,696
2163  2164     Sunday            1  8/16/2020      2,724         2,037
2164  2165     Monday            2  8/17/2020      3,456         2,638
2165  2166    Tuesday            3  8/18/2020      3,581         2,683
2166  2167  Wednesday            4  8/19/2020      2,064         1,564

     First.Time.Visits Returning.Visits
0                1,430              152
1                2,297              231
2                2,352              278
3                2,327              287
4                2,130              236
...                ...              ...
2162             1,373              323
2163             1,686              351
2164             2,181              457
2165             2,184              499
2166             1,297              267

[2167 rows x 8 columns]

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
data=pd.read_csv("D:\Data Analytics\daily-website-visitors.csv")
data.head(7)

,Row,Day,Day.Of.Week,Date,Page.Loads,Unique.Visits,First.Time.Visits,Returning.Visits
0,1,Sunday,1,9/14/2014,"2,146","1,582","1,430",152
1,2,Monday,2,9/15/2014,"3,621","2,528","2,297",231
2,3,Tuesday,3,9/16/2014,"3,698","2,630","2,352",278
3,4,Wednesday,4,9/17/2014,"3,667","2,614","2,327",287
4,5,Thursday,5,9/18/2014,"3,316","2,366","2,130",236
5,6,Friday,6,9/19/2014,"2,815","1,863","1,622",241
6,7,Saturday,7,9/20/2014,"1,658","1,118",985,133

In [8]:
data=data.dropna()
data.isnull().sum()

Row                  0
Day                  0
Day.Of.Week          0
Date                 0
Page.Loads           0
Unique.Visits        0
First.Time.Visits    0
Returning.Visits     0
dtype: int64